@use 'src/styles/vars';

.EntrepriseDataPage {

    @media (min-width: 799px) {
        max-width: 900px;
        margin: 5rem auto;
        }

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        padding: 2rem;
    }

    &-img {
        height: auto;
        width: auto;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
        padding: 3rem;

        @media (min-width: 799px) {
            max-width: 500px;
            margin: 2rem auto;
        }
        
    }

    &-input{
        margin-top: auto;
        display: grid;
        justify-content: center;
        background-color: #d3d0d0;
        border-radius: .5rem;
        padding: .5rem;
        margin: .5rem;

        &-buttons{

            display: flex;
            justify-content: space-evenly;
            
        }

        &-label{
            padding: .3rem 0 ;
            display: block;
		    width: auto;
		    text-align: left;
        }
        
        &-button{
            
            margin: .2rem;
            background-color: vars.$blue;
            border-radius: 1rem;
            padding: 1rem 3rem;
            border-style: none;

            text-decoration: none;
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
            transition: all 0.2s;
            
        }
        
        &-button:hover {
            transform: translateY(-3px);
            box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);

        }

        &-button:active {
            transform: translateY(1px);
            box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
        }
    }

    &-p{
        padding: 2rem;
        font-style: italic;
    }

    &-form{
        flex-direction: column;
        padding-top: 3rem;
    }
}

.input{
    width : 100%;
    display: block;
}
