@use 'src/styles/vars';

.EntrepriseAlertPage {

    @media (min-width: 799px) {
        max-width: 900px;
        margin: 5rem auto;
        }
    

    &-message {
        
        border-radius: 1rem ;
        margin: 3rem;
        background-color: rgb(229, 229, 229);
    
        
    }

    &-title{
        font-style: italic;
        padding: 1rem;
    }

    &-p{
        padding: 2rem;
        

    }

    &-buttons{
        display: flex;
        justify-content: center;
        padding: 3rem;
        
    }

    &-button{
        text-decoration: none;
        background: vars.$blue;
        padding: 10px 60px;
        border-radius: 30px;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
        transition: all 0.2s;
    }
    &-button:hover{
        transform: translateY(-3px);
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    }
    &-button:active {
        transform: translateY(1px);
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
    }
}


   
    
