@use 'src/styles/vars';

.Homepage {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 3rem;
  @media (min-width: 799px) {
    max-width: 900px;
  }
  &-intro {
    margin-top: 1rem;
    & h1 {
      font-size: 2.5rem;
      font-weight: 900;
      margin-top: 1rem;
    }
    & h2 {
      font-size: 1.2rem;
      font-weight: 400;
      margin: 0.5rem 0 1.5rem 0;
    }
    & p {
      display: none;
      @media (min-width: 799px) {
        display: block;
        max-width: 800px;
        margin: 0 3rem 1rem 3rem;
      }
    }
  }

  &-component {
    @media (min-width: 799px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }
  }

  // Animation de transition pour le composant <AboutUs />
  &-about-us {
    max-width: 100%;
        -webkit-transform: scale(1);
	    transform: scale(1);
	    -webkit-transition: .3s ease-in-out;
	    transition: 1s ease-in-out;

    &.about-us-enter-active {
      max-width: 100%;
        -webkit-transform: scale(1);
	    transform: scale(1);
	    -webkit-transition: .3s ease-in-out;
	    transition: 1s ease-in-out;
    }
  }
}

.wrapper {
  padding: 0 1rem 1rem 1rem;
  background-color: vars.$orange;
  border-radius: .5rem;
  margin: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  &.entreprise {
    background-color: vars.$blue;
  }
  &-title {
      font-size: 1.5rem;
      padding: 1.5rem 0;
      color: white;
  }
  &-illustration {
      display: none;
      @media (min-width: 799px) {
          display: block;
          max-width: 15rem;
      }
  }
  &-buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: .5rem;
      @media (min-width: 799px) {
        margin-top: 1.5rem;
      }
      &.entreprise {
        & button {
        color: vars.$blue;
        }
      }
      & button {
        width: 15rem;
        padding: .5rem;
        font-size: 1rem;
        border-radius: .4rem;
        color: vars.$orange;
      }
  }
}
