.MenuBurger {
    &-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        right: -100vw;
        height: 100vh;
        background-color: white;
        visibility: hidden;

        transition: transform 0.5s ease-in-out;
        transform: translateX(100%);
        &-extend {
            &>li {
                padding-top: 1rem;
                font-size: 1rem;
            }
        }
        
        &>li {
            padding: 1.2rem;
            font-size: 7vw;
            font-weight: 600;
            border-bottom: 1px #ddd solid;
            transition: all 200ms ease-in;
            cursor: pointer;
            &:hover {
                padding-top: 1.5rem;
                background-color: #eee;
            }
        }
        &.show {
            right: 0;
            left: 0;
            visibility: visible;
            transform: translateX(0%);
        }
    }
    &-logo {
        background-color: transparent;
        display: block;
        position: fixed;
        top: 2rem;
        right: 1rem;
        &-bar,
        &-bar::before,
        &-bar::after {
            display: block;
            width: 30px;
            height: 3px;
            position: relative;
            border-radius: 100vmax;
            background-color: #000;
        } 

        &-bar::before,
        &-bar::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &-bar::before {
            transform: translateY(-10px);
        }

        &-bar::after {
            transform: translateY(10px);
        }
    }
    &.show .MenuBurger-logo-bar::before {
        transform: rotate(45deg);
    }
    &.show .MenuBurger-logo-bar::after {
        transform: rotate(-45deg);
    }
    
}

span {
    color: #aaa;
}