@use 'src/styles/vars';
.MenuBurger {
    display: flex;
    align-items: center;
    @media (max-width: 799px) {
        &.show .MenuBurger__nav {
            transform: scale(1,1);
            min-height: 100vh;
            background-color: white;
        }
        &.show .MenuBurger__nav li {
            opacity: 1;
            transition: opacity 250ms ease-in-out 100ms;
            &:hover {
                padding-bottom: 1.4rem;
                background-color: #eee;
            }
        }
        &.show .MenuBurger__logo--bar::before {
            transform: rotate(45deg);
        }
        &.show .MenuBurger__logo--bar {
            background-color: transparent;
        }
        &.show .MenuBurger__logo--bar::after {
            transform: rotate(-45deg);
        }
    }
    &__nav {
        display: flex;
        margin-right: 2rem;
        position: relative;
        @media (max-width: 799px) {
            margin-right: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            min-height: 100vh;
            background-color: white;
            inset: 0;
            text-align: center;

            transform: scale(0,1);
            transform-origin: right;
            transition: transform 400ms ease-in-out;
        }
        &--arrow {
            color: #ccc;
        }
        // & a li {
            // transition: .3s;
            // &:hover {
                // box-shadow:  0 3px 5px rgba(57, 63, 72, 0.3);
            // }
            // @media (max-width: 799px) {
            //     font-size: 7vw;
            //     border-bottom: 1px solid #eee;
            //     width: 100vw;
            //     height: 4rem;
            //     opacity: 0;
            //     transition:  opacity 150ms ease-in-out;
            // }
        // }
        & li {
            transition: .3s;
            &:hover {
                box-shadow:  0 3px 5px rgba(57, 63, 72, 0.3);
            }
            @media (max-width: 799px) {
                font-size: 7vw;
                border-bottom: 1px solid #eee;
                width: 100vw;
                height: 4rem;
                opacity: 0;
                transition:  opacity 150ms ease-in-out;
            }
        }
        &--extend {
            & span {
                vertical-align: middle;
            }
            &:hover .MenuBurger__nav--extend-nestedMenu{
                transform: scale(1,1);
            }
            &-nestedMenu {
                box-shadow:  0 3px 5px rgba(57, 63, 72, 0.3);
                position: absolute;
                top: 3rem;
                margin-left: -1rem;
                background-color: #eee;
                transform: scale(1,0);
                transform-origin: top;
                transition: transform 400ms ease-in-out;
                @media (max-width: 799px) {
                    position: static;
                    width: 100vw;
                    margin-top: 1rem;
                }
                & a li{
                    &:hover {
                        background-color: #fff;
                        transition: .3s;
                    }
                }
            }
        }
    }
    &__logo {
        display: none;
        @media (max-width: 799px) {
            display: block;
            padding: 1rem .5rem;
            background-color: transparent;
            top: 1rem;
            right: 1rem;
            box-shadow: none;
            &:hover {
                box-shadow: none;
                transform: none;
            }
            &--bar,
            &--bar::before,
            &--bar::after {
                display: block;
                width: 30px;
                height: 3px;
                position: relative;
                border-radius: 3px;
                background-color: vars.$grey;
                transition: all .5s ease-in-out;
            } 

            &--bar::before,
            &--bar::after {
                content: "";
                position: absolute;
                left: 0;
            }

            &--bar::before {
                transform: translateY(-10px);
            }
            &--bar::after {
                transform: translateY(10px);
            }
        }
    }
    & li {
        cursor: pointer;
        padding: 1rem;
        &:hover {
            background-color: #eee;
        }
    }
}
