footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.aide {
    & p{
        margin-bottom: 1rem;
    }
}

.social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    &-icon {
        // max-width: 100%;
    }
    & li {
        width: 2rem;
        list-style: none;
    }
}

.logo-footer {
    display: none;
}