footer {
    margin-top: auto;
    @media (min-width: 799px) {
        margin-right: 1rem;
        margin-left: 1rem;
        display: flex;
        justify-content: space-between;
    }
}

.aide {
    & p{
        margin-bottom: 1rem;
    }
}

.social {
    display: flex;
    justify-content: center;
    gap: .5rem;
    &-icon {
        // max-width: 100%;
    }
    & li {
        width: 2rem;
        list-style: none;
    }
}

.logo-footer {
    display: none;
    @media (min-width: 799px) {
        display: block;
        width: 3rem;
    }
}