header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 1rem;
    margin: 0 1rem;
    margin-bottom: 2rem;
}

.logo {
    width: 3rem;
    z-index: 9;
    &-image {
        max-width: 100%;
    }
}

.Menu-profile {
    display: flex;
    @media (min-width: 799px) {
        flex-direction: row-reverse;
        // gap: 1rem;
    }
}