@use 'src/styles/vars';

.CandidateDataPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        padding: 2rem;
    }

    &-input{
        margin-top: auto;
        display: grid;

        &-buttons{

            display: flex;
            justify-content: space-evenly;
           
        }

        &-label{
            padding: .3rem 0 ;
            display: block;
		    width: auto;
		    text-align: left;
        }
        
        &-button{
            
            margin: .2rem;
            background-color: vars.$orange;
            border-radius: 1rem;
            padding: 1rem 3rem;
        }
    }

    &-p{
        padding: 1rem;
        font-style: italic;
    }

    &-form{
        flex-direction: column;
        padding-top: 1.5rem;
    }
}

.input{
    width : 100%;
    display: block;
}





