@use 'src/styles/vars';

.EntrepriseArea {
    
    @media (min-width: 799px) {
        max-width: 900px;
        margin: 5rem auto;
        }

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    margin: 1rem;
    
    &-img{
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
        padding: 3rem;
        border-radius: 1rem;

        @media (min-width: 799px) {
            max-width: 500px;
            margin: 2rem auto;
        }
    }

    &-title {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-weight: 800;
        margin: .5rem;
        padding: 2rem;
        
    }
    &-buttons {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding-bottom: 1rem;
        margin-top: 1rem;
        @media (min-width: 799px) {
            margin: .5rem;
        }
        
    }
    &-button {
        padding: 1.5rem;
        background-color: vars.$blue;
        border-radius: 1rem;
        font-size: 1.3rem;
        font-weight: bold;
        color: #222;
        width: 100%;

    }
    &-button:hover {
        transform: translateY(-3px);
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);

    }

    &-button:active {
        transform: translateY(1px);
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
    }
}