@use '/src/styles/vars';

.help{
    text-align: center;
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
    & img{
        width: 100%;
    }
    &-title{
        font-size: 2.5rem;
        font-weight: 800;
        margin-top: 2rem;
    }
    &-tabs {
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        margin: auto;
        padding: 25px;
    }
    &-tabs input[type="radio"] {
        display: none;
    }
    &-label{
        font-size: 1rem;
        font-weight: 700 ;
        padding: .5rem;
        color: rgb(104, 103, 103);
        background: vars.$grey;
        border-radius: .4rem .4rem 0rem 0rem;
    }
    
    
    &-tab {
        width: 100%;
        padding: 20px;
        background: #fff;
        order: 1;
        display: none;
        text-align: left;
    }
    &-tab h2 {
        font-size: 1.3rem;
        font-weight: 700;
        color: white;

    }
    &-tab p {
        font-size: 1rem;
        color: white;
    }
    
    &-tabs input[type='radio']:checked + label + &-tab {
        display: block;
        border-radius: 0rem .4rem .4rem .4rem;
    }

    &-tabs input[type='radio']:checked + label + &-tab.orange {
        background-color: vars.$orange;
    }

    &-tabs input[type='radio']:checked + label + &-tab.blue {
        background-color: vars.$blue;

    }
    
    &-tabs input[type="radio"]:checked + &-label {
        color: white;
    }


    &-tabs input[type="radio"]:checked + &-label.blue {
        background: vars.$blue;

    }

    &-tabs input[type="radio"]:checked + &-label.orange {
        background: vars.$orange;

    }
    /* FAQ Accordeon*/
    &-tab{
        &-faq{

            width: 100%;
            color: white;
            overflow: hidden;
            & input[type="checkbox"]{
                display:none;
            }
           
            & input[type="checkbox"]:checked + &-label + &-content{
                max-height: 100vh;

            }

            & input[type="checkbox"]:checked + &-label::after{
                transform: rotate(90deg);

            }
           
            
            
            &-content {
                max-height: 0vh;
                padding: 0 1em;
                color: white;
                transition: all .35s;
            }
        

            &-label {
              display: flex;
              justify-content: space-between;
              padding: 1rem 0rem 1rem 0rem;
              font-weight: 800 !important;
              cursor: pointer;
              background-color: transparent !important;
              color: white !important;
              
              &::after {
                content: "\276F";
                scale: 0.6;
                text-align: center;
                transition: all .35s;
              }    
            }
        
       }
       
       } 
    
       
       
    
    
}
