@use 'src/styles/vars.scss';

.Joblist{
    min-height: 100vh;
    text-align: center;
    margin: auto;
    padding: 1rem;
    &-title {
        margin-top: 1rem;
        font-size: 2em;
        font-weight: 800;
    }
    &-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    &-result{
        margin: auto;
        font-size: .8rem;
        font-style: italic;
    }
    &-searchbar{
        display: flex;
        justify-content: center;
        margin: 1rem;

        &-input{
            border-radius: .4rem 0rem 0rem .4rem;
            border: none;
            background-color: vars.$grey;
            height: 2rem;
            width: 60%;
            max-width: 600px;
            padding: .5rem;

        }
        &-button{
            right: 50px;
            width: 6rem;
            height: 2rem;
            padding: .5rem;
            font-size: 1rem;
            border-radius: 0rem 0.4rem 0.4rem 0rem;
            color: white;
            background-color: vars.$orange;
        }
        &-button:hover{
            box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
        }
    }
/*.showJobCard{
    width: 50%;
    margin-left: 1rem;
    @media (max-width: 799px){
        display: none;

    }
   
}
.showJobList{
    width: 50%;
    overflow-y: scroll;
   @media (max-width: 799px){
        width: 100%;

    }
}*/

}


.JobOffer {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  margin: 1rem auto .5rem;
  border-radius: 1rem;
  @media (min-width: 799px) {
    max-width: 900px;
    display: flex;
  }
  &-form{
    text-align: start;
    display: grid;
    & * {
      margin-bottom: .3rem;
    }
    @media (min-width: 799px) {
      margin-left: 1rem;
    }
    &-company {
      text-align: center;
      font-size: 1.5rem;
      font-weight: 900;
      padding: .8rem;
      @media (min-width: 799px){
        text-align: start;
        padding-left: 0;
      }
    }
    &-title {
      font-size: 1.2rem;
      font-weight: bold;
    }
    &-pres {
      font-style: italic;
    }
    &-info {
      & span {
        font-weight: bold;
      }
    }
    &-rgpd {
      font-size: .8rem;
    }
    &-button{
      margin: .5rem auto;
      & button {
        background-color: vars.$orange;
        border-radius: .5rem;
        padding: .7rem 2rem;
        font-weight: bold;
        font-size: 1rem;
        color: #fff;
      }
    }
  }

    
}
