.Joblist{
    min-height: 100vh;
    text-align: center;
    margin: auto;
    &-title {
        margin-top: 1rem;
        font-size: 2em;
        font-weight: 800;
    }
    &-content{
        display: flex;
    }
.showJobCard{
    width: 50%;
    margin-left: 1rem;
    @media (max-width: 799px){
        display: none;

    }
   
}
.showJobList{
    width: 50%;
    //overflow-y: scroll;
    @media (max-width: 799px){
        width: 100%;

    }
}

}