@use '../../../styles/vars';

.profile{
    width: 2rem;
    margin-right: 3rem;
    margin-top: .2rem;
    position: relative;
    cursor: pointer;
    @media (min-width: 799px){
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    &-image{
        max-width: 100%;
        filter: none;
    }

    &-select {
        position: absolute;
        top: 3rem;
        left: -10rem;
        text-align: start;
        width: 12rem;
        background-color: #eee;
        transform: scale(1,0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
        &-btn {
            font-size:1.5rem;
            padding: 1rem;
            width: 100%;
            opacity: 0;
            transition: opacity 150ms ease-in-out;
            &:first-child:hover {
                background-color: vars.$orange;
            }

            &:last-child:hover {
                background-color: vars.$blue;
            }
        }
        &.show {
            display: block;
            transform: scale(1, 1);
        }
        &.show .profile-select-btn {
            opacity: 1;
            transition: opacity 250ms ease-in-out 250ms;
        }
    }



}