@use 'src/styles/vars';

.Missions{
    margin-top: 2rem;
    height: 100vh;
    &-nav{
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid vars.$grey;
        border-top: 1px solid vars.$grey;
    }
    &-element{
        padding: 1rem;
    }
    &-element:hover{
        background-color: vars.$grey;
        padding: 1rem;
    }
    
} 
