@use 'src/styles/vars';

.CandidateArea {

    

    &-title {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-weight: 800;
        padding: 2rem;
        
    }
    &-buttons {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding-bottom: 1rem;
        
    }
    &-button {
        padding: 2.5rem;
        background-color: vars.$orange;
        border-radius: 1rem;
        font-size: 1rem;

    }
    &-button:hover {
        transform: translateY(-3px);
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);

    }
    &-button:active {
        transform: translateY(1px);
        box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
    }
}