@use 'src/styles/vars';

.wrapper-candidat {
    padding: 0 1rem 1rem 1rem;
    background-color: vars.$orange;
    border-radius: .5rem;
    margin: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    &-title {
        font-size: 1.5rem;
        padding: 1.5rem 0;
        color: white;
    }
    &-logo {
        display: none;
        @media (min-width: 799px) {
            display: block;
            max-width: 15rem;
        
            & img {
                max-width: 100%;
                filter: drop-shadow( 5px 5px 8px rgba(0, 0, 0, .7));
            }
        }
    }

    &-apparition {
        max-width: 100%;
        -webkit-transform: scale(1);
	    transform: scale(1);
	    -webkit-transition: .3s ease-in-out;
	    transition: 1s ease-in-out;
    
    }
    &-disparition {
        max-width: 10%;
        
        
        
        
    }

    &-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
        @media (min-width: 799px) {
            margin-top: 1.5rem;
        }
        & button {
            width: 15rem;
            padding: .5rem;
            font-size: 1rem;
            border-radius: .4rem;
            color: vars.$orange;
        }
    }
}