.Error404 {
    background-color: #eee;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 0 100vmax rgb(0 0 0 / 0.5);
    & h1 {
        font-size: 2rem;
        font-weight: 800;
        color: red;
    }
    &-image {
        max-width: 20rem;
        margin: 1rem auto;
    }
    & p {
        font-weight: 500;
        margin-bottom: .5rem;
    }
}