@use '/src/styles/vars';

.article{
    text-align: center;
    margin: 1rem;
        &-button{
            left:30px;
            position: absolute;
            background-color: transparent;
            font-size: .9rem;
            font-weight: 500;
        }
        &-button:hover{
            color: vars.$orange;  
        }

        &-title{
            font-size: 1.8rem;
            font-weight: 800;
            margin-top: 3rem;
            margin-bottom: 1.2rem;
        }
        &-content{
            background-color: vars.$grey;
            text-align: center;
            border-radius: .4rem;
            padding: 1rem;
            max-width: 700px;
            margin: auto;
            &-image{
                height: 200px;
            }
            &-text{
                margin-top: 1rem;
            }
        }
}